# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias cd..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# Shortcuts
alias dl="cd ~/Downloads"
alias d="cd ~/Desktop"
alias g="git"
alias h="history"
alias j="jobs"
alias o="open ."
alias p="cd ~/Projects"
alias s="subl"
alias v="vim"

alias cask='brew cask' # i <3 u cask
alias cleanup="find . -name '*.DS_Store' -type f -ls -delete" # Recursively delete `.DS_Store` files
alias dig="dig +nocmd any +multiline +noall +answer" # All the dig info
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; rm -rfv ~/.Trash" # Empty the Trash on all mounted volumes and the main HDD
alias git=hub
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias ips="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"
alias killphp="ps -ef | grep 'php -S' |grep -v grep | awk '{print $2}' | xargs kill -9"
alias lock="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"
alias npm-ls="npm ls --depth 0"
alias please='sudo !!'
alias rm="rm -i" # safety first
alias sudo='sudo '
alias undopush="git push -f origin HEAD^:master"

alias ll='ls -l'
alias l='ls -l'
alias la='ls -l'

# One of @janmoesen’s ProTip™s
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
  alias "$method"="lwp-request -m '$method'"
done
