export EDITOR="vim"

# Prefer US English and use UTF-8
export LC_ALL="en_US.UTF-8"
export LANG="en_US"

export HOMEBREW_GITHUB_API_TOKEN=b9b5875c57b50cefa08a48821d93ac089572af1d
export HOMEBREW_CASK_OPTS="--appdir=/Applications"

# Homebrew
export PATH=/usr/local/sbin:$PATH

# here's LS_COLORS
# github.com/trapd00r/LS_COLORS
# command -v gdircolors >/dev/null 2>&1 || alias gdircolors="dircolors"
# eval "$(gdircolors -b ~/.dircolors)"

# eval "$(nodenv init -)"

source $(brew --prefix)/etc/profile.d/z.sh

export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
