[core]
  editor = code --wait
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes
  quotepath = false
  autocrlf = input

[color]
  ui = always

[merge]
  tool = opendiff

[credential]
  helper = osxkeychain

[fetch]
  prune = true

[branch]
	autosetuprebase = always

[user]
  useconfigonly = true

[push]
  default = nothing

[status]
  showUntrackedFiles = all

# [url "https://"]
  # insteadOf = git://

[alias]
  br = branch
  ca = commit --amend
  ci = commit
  cm = commit -m
  co = checkout
  ls = log --pretty=oneline --abbrev-commit --graph --decorate
  ra = rebase --abort
  rc = rebase --continue
  ri = rebase master -i
  rs = rebase --skip
  st = status -s

  aliases = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
  abort = checkout -- .
  amend = commit --amend --no-edit
  clean = "!f() { git branch --no-color --merged | grep -v '*' | xargs -n 1 git branch -d; }; f"
  diff = diff --word-diff
  force = push --force-with-lease
  pur = pull upstream master --rebase
  undo = reset --soft HEAD^
  wait = reset HEAD

  # co = "!f() { git branch --no-color $1 | peco | sed -E -e 's/^[ \t]*(remotes\\/)?origin\\///' | xargs git checkout; }; f"
  # fco = "!f() { git fetch && git co -a; }; f"

[filter "media"]
  clean = git media clean %f
  smudge = git media smudge %f
  required = true

[filter "hawser"]
  clean = git hawser clean %f
  smudge = git hawser smudge %f
  required = true

[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true

[include]
  # For username / github token / etc
  path = ~/.gitconfig.local
