registry=https://repo.int.netcentric.biz/nexus/content/groups/npm-all/
@angular:registry=https://registry.npmjs.org
@frontify:registry=https://registry.npmjs.org
@types:registry=https://registry.npmjs.org
@blueprintjs:registry=https://registry.npmjs.org
@ngtools:registry=https://registry.npmjs.org
@angular-cli:registry=https://registry.npmjs.org
always-auth=false
_auth=dGhvbWFzLmxlYmVhdUBuZXRjZW50cmljLmJpejpHdjlhekFOUCw=
email=thomas.lebeau@netcentric.biz
